*{
	margin: 0;
	padding: 0;
	list-style: none;

}
header{
	position: relative;
	margin: 30px auto;
	width: 1024px;
	height: 180px;
	
	

}
#uno{
	position: absolute;
	top: 10px;
	left:0px;
	width: 200px;
	height: 100px;
	
}
#ico{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 30px;
	right: 0px;
}
#ico2{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 30px;
	right:50px;
}
#ico3{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 30px;
	right: 100px;
}
#dos{
	position: absolute;
	width: 280px;
	height: 100px;
	top: 0px;
	right: 800px;

}
#tres{
	position: absolute;
	width: 150px;
	height: 40px;
	top: 100px;
	right: 670px;
	text-align: center;
	font-family:'Zen Antique Soft',cursive;

}
#cuatro{
	position: absolute;
	width: 150px;
	height: 40px;
	top: 100px;
	right: 550px;
	text-align: center;
	font-family:'Zen Antique Soft',cursive;
	}
#cinco{
	position: absolute;
	width: 150px;
	height: 40px;
	top: 100px;
	right: 428px;
	text-align: center;
	font-family:'Zen Antique Soft',cursive;
}
#six{
	position: absolute;
	width: 150px;
	height: 40px;
	text-align: center;
	top: 100px;
	right: 300px;
	font-family:'Zen Antique Soft',cursive;
}
#siete{
	position: absolute;
	width: 150px;
	height: 40px;
	text-align: center;
	top: 100px;
	right: 180px;
	font-family:'Zen Antique Soft',cursive;
}		
nav{
	position: relative;
	margin: auto;
	width: 1024px;
	height: 350px;

		
}
.slider{
	width: 100%;
	margin:auto;
}
.slider ul{
	display: flex;
	padding: 0;
	width: 400%;

    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in;
}
.slider li{
	width: 100%;
	list-style: none;
}
.slider img{
	width: 100%;
}
@keyframes cambio{
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
nav img{
	box-shadow: 7px 13px 37px #000;

}

#navdos{
	position: relative;
	margin: 100px;
	top: 60px;
	width: 1024px;
	height:600px;
	font-family:'Zen Antique Soft',cursive;
	 
}
#navdos img{
	box-shadow: 7px 13px 37px #000;
	border: 3px solid;
	border-color: black;
}	
	
footer {
	position: relative;
	margin: 50px auto;
	width: 1024px;
	height: 400px;
	top: 150px;
	
}
#la{
	position: absolute;
	width: 512px;
	height: 300px;
	
}
#lo{
	position: absolute;
	width: 512px;
	height: 300px;
	right: 0px;
	margin: 0px;
	
}
#a{
  
	width: 1024px;
	height: 100px;
	margin: -300px;
	right: 300px;
	top: 750px;
	position: absolute;
}
#aa{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 30px;
	right: 450px;
	
}
#bb{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 30px;
	right:500px;
	
}
#cc{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 30px;
	right: 550px;
	
}